<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="husky">
  <!-- robot name parameter -->
  <!-- <xacro:arg name="name" default="" /> -->

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="gazebo_controllers" default="$(find husky_control)/config/control.yaml" />

  <xacro:include filename="$(find husky_description)/urdf/husky_macro.urdf.xacro" />

  <!-- Load husky description -->
  <xacro:husky prefix="$(arg prefix)" />


  <xacro:if value="$(arg is_sim)">

    <gazebo>
      <plugin name="$(arg prefix)gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(arg gazebo_controllers)</parameters>
        <ros>
         <use_sim_time>true</use_sim_time>
       </ros>
      </plugin>
    </gazebo>

    <gazebo reference="$(arg prefix)imu_link">
      <sensor name="$(arg prefix)imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="$(arg prefix)imu_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=imu/data_raw</remapping>
            <use_sim_time>true</use_sim_time>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

    <gazebo reference="$(arg prefix)gps_link">
      <sensor name="$(arg prefix)gps_sensor" type="gps">
      <plugin filename="libgazebo_ros_gps_sensor.so" name="$(arg prefix)gps_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=gps/data</remapping>
          </ros>
        </plugin>
        <always_on>true</always_on>
        <update_rate>8</update_rate>
      </sensor>
    </gazebo>

  </xacro:if>

  <!-- Optional custom includes. -->
  <xacro:include filename="$(arg urdf_extras)" />
  
  <link name="front_laser">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="front_laser_joint" type="fixed">
    <parent link="top_plate_link"/>
    <child link="front_laser"/>
    <origin xyz="0.25 0 0.1" rpy="0 0 0"/>
  </joint>

  <gazebo reference="front_laser">
    <sensor name="lidar" type="ray">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>13.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>front_laser</frame_name>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo>
  <plugin name="gazebo_ros_init" filename="libgazebo_ros_init.so">
    <ros>
       <use_sim_time>true</use_sim_time>
    </ros>
  </plugin>
  </gazebo>
  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.03 0.10 0.03"/>
      </geometry>
      <material name="camera_black">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="top_plate_link"/>
    <child link="camera_link"/>
    <origin xyz="0.30 0.0 0.15" rpy="0 0 0"/>
  </joint>

  <!-- Optical frame (Python kodunla birebir aynı isim yapıldı) -->
  <link name="camera_color_optical_frame"/>

  <joint name="camera_color_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_color_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="depth">
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>
      <visualize>true</visualize>

      <camera>
        <horizontal_fov>1.047198</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>12.0</far>
        </clip>
      </camera>

      <!-- ROS 2 Kamera Plugin'i -->
      <plugin name="camera_driver" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>camera</namespace>
          <remapping>image_raw:=image_raw</remapping>
          <remapping>depth/image_raw:=depth/image_raw</remapping>
          <remapping>camera_info:=camera_info</remapping>
        </ros>
        <camera_name>camera</camera_name>
        <frame_name>camera_color_optical_frame</frame_name>
        <hack_baseline>0.07</hack_baseline>
        <min_depth>0.1</min_depth>
        <max_depth>12.0</max_depth>
      </plugin>
    </sensor>
  </gazebo>
    <joint name="turret_yaw_joint" type="fixed">
    <parent link="top_plate_link"/>
    <child link="turret_yaw_link"/>
    <origin xyz="0.0 0.0 0.30" rpy="0 0 0"/>
  </joint>

  <link name="turret_yaw_link">
    <visual>
      <geometry>
        <cylinder radius="0.06" length="0.12"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="turret_pitch_joint" type="fixed">
    <parent link="turret_yaw_link"/>
    <child link="turret_camera_link"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
  </joint>

  <link name="turret_camera_link">
    <visual>
      <geometry>
        <box size="0.12 0.08 0.06"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <link name="turret_camera_optical"/>

  <joint name="turret_camera_optical_joint" type="fixed">
    <parent link="turret_camera_link"/>
    <child link="turret_camera_optical"/>
    <origin xyz="0.06 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <gazebo reference="turret_camera_link">
    <sensor type="camera" name="anti_drone_camera">

      <always_on>false</always_on>
      <update_rate>1</update_rate>

      <camera>
        <horizontal_fov>0.6</horizontal_fov>

        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.05</near>
          <far>18</far>
        </clip>
      </camera>

      <plugin name="anti_drone_camera_plugin"
              filename="libgazebo_ros_camera.so">

        <ros>
          <namespace>anti_drone</namespace>
        </ros>

        <camera_name>anti_drone_camera</camera_name>
        <frame_name>turret_camera_optical</frame_name>

      </plugin>

    </sensor>
  </gazebo>
</robot>
